[Product]
type: localboot
id: microsoft-windows-10-64-upgrade
name: Microsoft Windows 10 Upgrade x64
description: Aktualisiert den Computer auf die aktuellste Version von Windows 10.
advice: Dieses Paket ist nur für Computer mit 64-bit Windows geeignet. Das Paket kann nicht deinstalliert werden. Während der Upgrade-Prozedur kann der Bildschirm kurzzeitig schwarz werden, den Rechner in diesem Fall auf keinen Fall neu starten.
version: 20.07.14
packageVersion: 1.2
setupScript: install.ins
autoUpdate: false
internet: true
